@using EntityLayer.Concrete
@model List<Category>


<div class="col-lg-3">
    <h1 class="h2 pb-4">Kategoriler</h1>
    <ul class="list-unstyled templatemo-accordion">
        @foreach (var item in Model)
        {
            <li class="pb-3">
                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                    @item.CategoryName
                    <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                </a>
                <ul class="collapse show list-unstyled pl-3">
                    <li><a class="text-decoration-none" href="#">@item.CategoryId</a></li>
                    <li><a class="text-decoration-none" href="#">@item.CategoryStatus</a></li>
                </ul>
            </li>
        }
    </ul>
</div>