@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --black: #1c2a39;
  --gray: #5c6a79;
  --purple: #4c3db2;
}

.navbar{
  height: 120px;
  width: 80%;
  margin-left: 10%;
}

.menu, .menu_icons{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: var(--gray);
  cursor: pointer;
}

.menu li, .menu_icons li {
  margin: 0 10px;
}

.menu .active{
  color: var(--black) ;
}

.basket_icon{
  position: relative;
}

.basket_count{
  position: absolute;
  right: -0.7rem;
  bottom: 0%;
  width: 20px;
  height: 20px;
  background-color: var(--black);
  border-radius:50% ;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;

}

.slider{
  width: 80%;
  margin-left:auto ;
  margin-right: auto;
  height: 600px;
}

.slider img{
  height:600px;
}

.store{
  width: 80%;
  margin-left: 10%;
  position: relative;

}

.product-card{
  height: 400px;
}

.fos{
 font-family: "Open Sans","sans-serif";
}

.gray{
  color: var(--gray);
}

.black{
  color: var(--black);
}

.fw-bold{
  font-weight: bold;
}

.product_star-rate .bi-star-fill{
  color: #eeedf5;
  font-size: 1.2rem;
  margin-right: 5px;
}

.product_star-rate .bi-star-fill.active{
  color: #f2c94c;
}

.product_reviews{
  color: gray;
}

.product_description{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.old_price{
  text-decoration: line-through;
  color: #bdbdbd;
}

.btn_style{
  cursor:pointer;
  border: 2px solid green;
  color: green;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  transition: all 250ms ease-in-out;

}

.btn_style:hover{
  background-color: green;
  color: white;
}

.filter_background{
  position: absolute;
  left: 0;
  width: 400px;
  height: 300px;
  background-color: #e9f2e7;
  z-index: -1;
}

.filter{
  position: absolute;
  list-style-type:none;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  justify-content: center;
}

.filter li{
  color: var(--gray);
  font-size: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;

}

.filter li:hover{
  color:rgb(46, 95, 13);
}

.filter li.active{
  color:rgb(46, 95, 13);
  font-size: 1.5rem;
  font-weight: bold;
}

.filter li.active::before{
  content: "";
  display: inline-block;
  width:10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(46, 95, 13);
  position: absolute;
  left: -0.01px;
  margin-top: 12px;
}

.basket_module{
  position: fixed;
  left: 0;
  right: 0;
  background-color: #5c6a7950;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.basket_product{
  width: 450px;
  background-color: white;
  height: 100%;
  float: right;
  
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

