@model IEnumerable<EntityLayer.Concrete.Product>
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-4 mb-3">
                    <div class="card h-30">
                        <a href="shop-single.html">
                            <img src="@item.ImageUrl" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                @*<li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    </li>*@

                                <li class="text-muted text-right">Stok Adet:@item.ProductStok</li>
                                <li class="text-dark text-left">@item.Price₺</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">@item.ProductName</a>
                            <p class="card-text">
                                @item.ProductDescription
                            </p>
                            <a href="#" class="btn btn-primary">Sepete Ekle</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>