@model EntityLayer.Concrete.Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mt-4">
    <div class="col col-md-4">
    </div>
    <div class="col col-md-5">
        <div class="card z-index-7 ">
            <div class="card-header pb-0">
                <h6>Kategori Ekleme sayfası</h6>
            </div>
            <div class="card-body p-3 " style="height:550px;">
                <div class="chart">
                   <form asp-controller="Category" asp-action="AddCategory" method="post">
                       <input type="text" asp-for="CategoryName" placeholder="Kategori Adı"/>
                       <br\>
                        <input type="text" asp-for="CategoryStatus" placeholder="Kategori Durumu"/>
                   </form>
                   <button class="btn btn-info">Ürün Ekle</button>
                </div>
            </div>
        </div>
    </div>
</div>